<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="share" style="height: 48px; width: 48px;">
  <i class="material-icons">share</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share">
  <a name='fb_share' type='link' href='http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}' rel='nofollow'><li class="mdl-menu__item">Facebook<script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script></li></a>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"><li class="mdl-menu__item">Twitter</li></a>
</ul>